<!-- Add navbar -->
    <div class="navbar-wagon">
      <!-- Logo -->
      <a href="/" class="navbar-wagon-brand">
        <img src="images/logo.png" alt="logo">
      </a>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">

        <%= link_to "Portage Salarial", "portage.html", class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Consultant", "consultant.html", class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Entreprise", "entreprise.html", class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Blog", "blog.html", class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Accès consultant", "https://embarq.laya.fr", class: "btn-embarq", target: '_blank' %>

      </div>

      <!-- Dropdown appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to "Portage Salarial", "portage.html", class: "navbar-wagon-item navbar-wagon-link" %></li>
            <li><%= link_to "Consultant", "consultant.html", class: "navbar-wagon-item navbar-wagon-link" %></li>
            <li><%= link_to "Entreprise", "entreprise.html", class: "navbar-wagon-item navbar-wagon-link" %></li>
            <li><%= link_to "Blog", "blog.html", class: "navbar-wagon-item navbar-wagon-link" %></li>
            <li><%= link_to "Accès consultant", "https://embarq.laya.fr", target: '_blank' %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End of navbar -->
