<div id="consultant">
  <div class="wrapper-white">
    <div class="container padded">
      <h2 class="text-center">Consultant</h2>
      <h5 class="text-center">Créez, développez et pérénisez votre activité en toute tranquilité</h5>
      <div class="row rowicone">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag "expertise.png", id: "expertise" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3>Offrir une expertise humaine</h3>
          <p>Chez EMBARQ, nous mouillons le maillot pour la satisfaction de nos consultants. Signataires de la charte des entrepreneurs bienveillants, nous plaçons les valeurs humaines au centre de notre démarche. Nous vous conseillons en toute objectivité sur le meilleur choix à faire pour votre projet et nous nous refusons aux pratiques amorales telles que la surfacturation.</p>
          <%= link_to "Je veux de la transparence", "contact.html", class: "link-consultant" %>
        </div>
      </div>
      <div class="row rowicone">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
          <%= image_tag "achievment.png", id: "expertise" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
          <h3>Réalisez votre rêve</h3>
          <p> Que vous soyez employé, futur entrepreneur ou freelance, vous rêvez de devenir indépendant avec le confort et les avantages du salarié ? <br>Avec EMBARQ pas de stress, on vous explique tout et on s'occupe de tout ! Vous pouvez commencer votre mission sous 24h, on vous apporte tous les services dont vous pourriez avoir besoin : avantages sociaux du CDI (mutuelle, prévoyance, chômage), développement d'activité et de visibilité, cartes de visites... Nous ne nous arrêterons pas avant d'avoir réalisé votre rêve.</p>
          <%= link_to "Faîtes moi rêver", "contact.html", class: "link-consultant" %>
        </div>
      </div>
      <div class="row rowicone padded-top">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag "quotidien.png", id: "expertise" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3>Facilitez votre quotidien</h3>
          <p>Oubliez les nocturnes que vous comptiez consacrer à la facturation, aux déclarations et au suivi de votre activité. Désormais profitez de vos soirées, nous mettons à votre disposition une solution intuitive pour suivre vos contrats, facturations et l'ensemble de votre activité. Un conseiller est aussi là pour vous accompagner. C’est aussi ça avoir un service client qui envoie du bois !</p>
          <%= link_to "Je veux une démo", "contact.html", class: "link-consultant" %>
        </div>
      </div>
      <div class="row rowicone padded-topo">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
          <%= image_tag "business.png", id: "dream" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
          <h3>Développez votre business</h3>
          <p>Nous imaginons la société de portage comme elle devrait être, c'est à dire une solution de portage mais surtout une communauté d'entraide et de mise en relation. <br>L'accompagnement dans le développement de votre activité est au coeur de nos préoccupations et nous co-construisons nos services avec nos consultants pour qu'ils se consacrent sur l'essentiel : leurs business !</p>
          <%= link_to "Je rejoins la communauté", "contact.html", class: "link-consultant" %>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-grey padded" id="simul">
    <div id="encart-simul">
      <h3 class="text-center">Simulez votre revenu</h3>
    </div>
<!--   <h3 class="text-center">Simulez votre revenu</h3>
  <br> -->
    <div class="row">
      <div class="col-xs-12 col-md-6">
            <!--calculator start-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/2.0.10/autoNumeric.js"></script>
        <div class="calculator__embarq">
          <div class="calc__embarq_subtitle">Je connais :</div>
          <div class="calc__embarq_row">
            <div class="switch-field">
              <input type="radio" id="calc_ma_facturation" name="switch_2" value="facturation" />
              <label for="calc_ma_facturation">ma facturation</label>
              <input type="radio" id="calc_salaire_brut" name="switch_2" value="brut" />
              <label for="calc_salaire_brut">mon salaire brut</label>
              <input type="radio" id="calc_salaire_net" name="switch_2" value="salairenet" />
              <label for="calc_salaire_net">mon salaire net</label>
              <div style="clear:left;"></div>
            </div>

          </div>
          <div class="calc__embarq_hidden">
            <div class="calc__embarq_row">
                <div class="calc__embarq_input_label">
                    <span id="embarq_input_label">Facturation mensuelle en € :</span>
                    <input type="text" id="calc__embarq_user_input">
                </div>
            </div>
            <div class="calc__embarq_row">
                <div class="calc__embarq_input_label">
                    <span>Je souhaite déclarer des frais professionnels :</span>
                    <div class="switch-field switch_short">

                        <input type="radio" id="calc__embarq_professionnels_yes" name="switch_professionnels" value="yes" checked/>
                        <label for="calc__embarq_professionnels_yes">oui</label>
                        <input type="radio" id="calc__embarq_professionnels_no" name="switch_professionnels" value="no" />
                        <label for="calc__embarq_professionnels_no">non</label>

                        <div style="clear:left;"></div>
                    </div>
                </div>
            </div>
            <div class="calc__embarq_row calc_input_row">
                <div class="calc__embarq_input_label">
                    <span>Eventuels frais facturés au client :</span>
                    <input type="text" id="calc__embarq_client">
                </div>
            </div>
            <div class="calc__embarq_row calc_input_row">
                <div class="calc__embarq_input_label">
                    <span>Eventuels frais de fonctionnement :</span>
                    <input type="text" id="calc__embarq_fonctionnement">
                </div>
            </div>
            <div class="calc__embarq_row">
                <a href="#" id="calc__embarq_calculate" class="calc__embarq_button" onclick="calcuate_Embarq();return false;">Calculer</a>
            </div>
          </div>
          <div class="calc__embarq_popup">
              <div class="calc__embarq_popup_container">

                  <div class="calc__embarq_popup_close">
                      <i class="fa fa-times"></i>
                  </div>
                  <div class="calc__embarq_popup_main">
                      <div class="calc__embarq_popup_title">Résultat de votre simulation</div>
                      <div class="calc__embarq_popup_results"></div>
                      <p class="text-center">Pour une simulation détaillée et nos conseils pour optimiser vos revenus, <%= link_to "contactez nous.", "contact.html", class: "link-consultant" %></p>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="container padded-top">
        <div class="col-xs-12 col-md-6">
          <div class="accordion">
            <div class="accordion-item">
              <a>Les frais de fonctionnement c'est quoi ?</a>
              <div class="accordion_content">
                <p>Les frais de fonctionnement correspondent aux frais non pris en charge par le client mais qui participent au bon fonctionnement de l'activité du freelance porté (frais de bouche, transport, téléphonie...) Ces frais ne sont pas imposables !</p>
              </div>
            </div>
            <div class="accordion-item">
              <a>Les frais refacturés c'est quoi ?</a>
              <div class="accordion_content">
                <p>Les frais refacturés correspondent aux frais pris en charge par votre client (frais kilométriques, hébergement...) et négociés avant le début de votre mission. Ces frais ne rentrent pas dans le calcul du salaire brut, ils sont rajoutés directement au salaire net.</p>
              </div>
            </div>
            <div class="accordion-item">
              <a>Comment nous nous rémunérons?</a>
              <div class="accordion_content">
                <p>Nous prenons des frais de gestion sur le volume de facturation. Cette simulation est calculée sur la base d'un taux de frais de gestion de 7%. Ce taux est dégressif selon le volume de facturation.</p>
              </div>
            </div>
            <script>
            var accords = document.querySelectorAll(".accordion a");

            function toggleAccordion(){
              this.classList.toggle('active');
              this.nextElementSibling.classList.toggle('active');
            }

            accords.forEach(function(accordb) {
                accordb.addEventListener('click', toggleAccordion);
            });

            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

