<div id="consultant">
  <div class="wrapper-white">
    <%= image_tag "bird-1.svg", class: "bird-1" %>
    <div class="container padded">
       <h1 class="h1 title title-lg text-center mb+ color-brand">Consultant</h1>
      <h2 class="title h3 text-center">Créez, développez et pérénisez votre activité en toute tranquilité</h2>
      <div class="row rowicone">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag "expertise.png", id: "expertise" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3 class="mb h4"><strong>Offrir une expertise humaine</strong></h3>
          <p>Chez EMBARQ, nous mouillons le maillot pour la satisfaction de nos consultants. Signataires de la charte des entrepreneurs bienveillants, nous plaçons les valeurs humaines au centre de notre démarche. Nous vous conseillons en toute objectivité sur le meilleur choix à faire pour votre projet et nous nous refusons aux pratiques amorales telles que la surfacturation.</p>
          <br>
          <%= link_to "Je veux de la transparence", "contact.html", class: "text-bold pt" %>
        </div>
      </div>
      <div class="row rowicone">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
          <%= image_tag "achievment.png", id: "expertise" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
          <h3 class="mb h4"><strong>Réalisez votre rêve</strong></h3>
          <p> Que vous soyez employé, futur entrepreneur ou freelance, vous rêvez de devenir indépendant avec le confort et les avantages du salarié ? <br>Avec EMBARQ pas de stress, on vous explique tout et on s'occupe de tout ! Vous pouvez commencer votre mission sous 24h, on vous apporte tous les services dont vous pourriez avoir besoin : avantages sociaux du CDI (mutuelle, prévoyance, chômage), développement d'activité et de visibilité, cartes de visites... Nous ne nous arrêterons pas avant d'avoir réalisé votre rêve.</p>
          <br>
          <%= link_to "Faîtes moi rêver", "contact.html", class: "text-bold pt" %>
        </div>
      </div>
      <div class="row rowicone padded-top">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag "quotidien.png", id: "expertise" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3 class="mb h4"><strong>Facilitez votre quotidien</strong></h3>
          <p>Oubliez les nocturnes que vous comptiez consacrer à la facturation, aux déclarations et au suivi de votre activité. Désormais profitez de vos soirées, nous mettons à votre disposition une solution intuitive pour suivre vos contrats, facturations et l'ensemble de votre activité. Un conseiller est aussi là pour vous accompagner. C’est aussi ça avoir un service client qui envoie du bois !</p>
          <br>
          <%= link_to "Je veux une démo", "contact.html", class: "text-bold pt" %>
        </div>
      </div>
      <div class="row rowicone padded-topo">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
          <%= image_tag "business.png", id: "dream" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
          <h3 class="mb h4"><strong>Développez votre business</strong></h3>
          <p>Nous imaginons la société de portage comme elle devrait être, c'est à dire une solution de portage mais surtout une communauté d'entraide et de mise en relation. <br>L'accompagnement dans le développement de votre activité est au coeur de nos préoccupations et nous co-construisons nos services avec nos consultants pour qu'ils se consacrent sur l'essentiel : leurs business !</p>
          <br>
          <%= link_to "Je rejoins la communauté", "contact.html", class: "text-bold pt" %>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-blue-dark padded" id="simul">

    <div class="container">

      <h3 class="title title-lg text-center">Simulez votre revenu</h3>
      <div class="row">
        <div class="col-md-6">

          <form class="calculator__embarq card validate salaire-form" action="https://wimi-fitness.us11.list-manage.com/subscribe/post?u=9f76edc64eba56bd88ddae432&amp;id=4007bf1ef2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  target="_blank" novalidate>

            <h3 class="mb text-center">Je connais :</h3>
            <div class="calc__embarq_row mb+">
              <div class="switch-field">
                <div>
                  <input type="radio" id="calc_ma_facturation" name="switch_2" value="facturation" />
                  <label for="calc_ma_facturation" class="btn btn-success">Ma facturation</label>
                </div>
                <div>
                  <input type="radio" id="calc_salaire_brut" name="switch_2" value="brut" />
                  <label for="calc_salaire_brut" class="btn btn-success">Mon salaire brut</label>
                </div>
                <div>
                  <input type="radio" id="calc_salaire_net" name="switch_2" value="salairenet" />
                  <label for="calc_salaire_net" class="btn btn-success">Mon salaire net</label>
                </div>
                <div style="clear:left;"></div>
              </div>

            </div>
            <div class="calc__embarq_hidden">
              <div class="calc__embarq_row mb-">
                  <div class="calc__embarq_input_label">
                      <label id="embarq_input_label" class="mb--">Facturation mensuelle en € :</label>
                      <input type="text" class="form-control" id="calc__embarq_user_input">
                  </div>
              </div>
              <div class="calc__embarq_row mb-">
                  <div class="calc__embarq_input_label">
                      <span class="mb--">Je souhaite déclarer des frais professionnels :</span>
                      <div class="switch-field switch_short">

                          <input type="radio" id="calc__embarq_professionnels_yes" name="switch_professionnels" value="yes" checked/>
                          <label for="calc__embarq_professionnels_yes" class="mr-">oui</label>
                          <input type="radio" id="calc__embarq_professionnels_no" name="switch_professionnels" value="no" />
                          <label for="calc__embarq_professionnels_no">non</label>

                          <div style="clear:left;"></div>
                      </div>
                  </div>
              </div>
              <div class="calc__embarq_row calc_input_row mb-">
                  <div class="calc__embarq_input_label">
                      <label class="mb--">Eventuels frais facturés au client :</label>
                      <input type="text" class="form-control" id="calc__embarq_client">
                  </div>
              </div>
              <div class="calc__embarq_row calc_input_row mb-">
                  <div class="calc__embarq_input_label">
                      <label class="mb--">Eventuels frais de fonctionnement :</label>
                      <input type="text" class="form-control" id="calc__embarq_fonctionnement">
                  </div>
              </div>

              <div class="calc__embarq_row mb">
                  <div class="calc__embarq_input_label">
                      <label class="mb--">Votre email (pour vous enoyer la simulation)</label>
                      <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
                      <label for="mce-EMAIL"></label>

                  </div>
              </div>
              <div class="calc__embarq_row">

                  <!-- <a href="#" id="calc__embarq_calculate" class="btn btn-block btn-primary btn-lg" onclick="calcuate_Embarq();return false;">Calculer</a> -->

                  <input type="submit" value="Envoyer ma simulation" name="subscribe" id="mc-embedded-subscribe" class="btn btn-block btn-primary btn-lg" onclick="calcuate_Embarq();">
                  <!-- Begin MailChimp Signup Form -->
                  <div id="mc_embed_signup_scroll">
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9f76edc64eba56bd88ddae432_4007bf1ef2" tabindex="-1" value=""></div>
                      </div>


              </div>
            </div>
            <div class="calc__embarq_popup" style="display: none;">
                <div class="calc__embarq_popup_container">

                    <div class="calc__embarq_popup_close">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="calc__embarq_popup_main">
                        <div class="calc__embarq_popup_title">Résultat de votre simulation</div>
                        <div class="calc__embarq_popup_results"></div>
                        <br>
                        <p class="text-center">Pour une simulation détaillée et nos conseils pour optimiser vos revenus, <%= link_to "contactez nous.", "contact.html", class: "text-bold pt" %></p>
                    </div>
                </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
              <div class="accordion padded-top">
                <h3 class="title text-center h2 mb">Questions fréquement posées...</h3>
                <div class="accordion-item">
                  <a>Les frais de fonctionnement c'est quoi ?</a>
                  <div class="accordion_content">
                    <p>Les frais de fonctionnement correspondent aux frais non pris en charge par le client mais qui participent au bon fonctionnement de l'activité du freelance porté (frais de bouche, transport, téléphonie...) Ces frais ne sont pas imposables !</p>
                  </div>
                </div>
                <div class="accordion-item">
                  <a>Les frais refacturés c'est quoi ?</a>
                  <div class="accordion_content">
                    <p>Les frais refacturés correspondent aux frais pris en charge par votre client (frais kilométriques, hébergement...) et négociés avant le début de votre mission. Ces frais ne rentrent pas dans le calcul du salaire brut, ils sont rajoutés directement au salaire net.</p>
                  </div>
                </div>
                <div class="accordion-item">
                  <a>Comment nous nous rémunérons?</a>
                  <div class="accordion_content">
                    <p>Nous prenons des frais de gestion sur le volume de facturation. Cette simulation est calculée sur la base d'un taux de frais de gestion de 7%. Ce taux est dégressif selon le volume de facturation.</p>
                  </div>
                </div>
                <script>
                var accords = document.querySelectorAll(".accordion a");

                function toggleAccordion(){
                  this.classList.toggle('active');
                  this.nextElementSibling.classList.toggle('active');
                }

                accords.forEach(function(accordb) {
                    accordb.addEventListener('click', toggleAccordion);
                });

                </script>
              </div>
            </div>
      </div>

    </div></div>
</div>



