<div id="consultant">
  <div class="wrapper-white">
    <div class="container padded">
      <h2 class="text-center">Consultant</h2>
      <h5 class="text-center">Créez, développez et pérénisez votre activité en toute tranquilité</h5>
      <div class="row rowicone">
        <div class="col-xs-12 col-md-6">
          <%= image_tag "expertise.png", id: "expertise" %>
        </div>
        <div class="col-xs-12 col-md-6">
          <h3>Offrir une expertise humaine</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur natus quam fuga delectus error, suscipit fugiat commodi recusandae, tempora voluptatibus illum ad molestiae reiciendis doloribus laborum. Enim, saepe odit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque consequuntur explicabo dolores error inventore rem ad iusto veritatis nam laboriosam fuga dolorem soluta dicta quod optio, vero, quae omnis obcaecati.</p>
        </div>
      </div>
      <div class="row rowicone">
        <div class="col-xs-12 col-md-6">
          <h3>Réalisez votre rêve</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur natus quam fuga delectus error, suscipit fugiat commodi recusandae, tempora voluptatibus illum ad molestiae reiciendis doloribus laborum. Enim, saepe odit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque consequuntur explicabo dolores error inventore rem ad iusto veritatis nam laboriosam fuga dolorem soluta dicta quod optio, vero, quae omnis obcaecati.</p>
        </div>
        <div class="col-xs-12 col-md-6">
          <%= image_tag "achievment.png", id: "expertise" %>
        </div>
      </div>
      <div class="row rowicone padded-top">
        <div class="col-xs-12 col-md-6">
          <%= image_tag "quotidien.png", id: "expertise" %>
        </div>
        <div class="col-xs-12 col-md-6">
          <h3>Facilitez votre quotidien</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur natus quam fuga delectus error, suscipit fugiat commodi recusandae, tempora voluptatibus illum ad molestiae reiciendis doloribus laborum. Enim, saepe odit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque consequuntur explicabo dolores error inventore rem ad iusto veritatis nam laboriosam fuga dolorem soluta dicta quod optio, vero, quae omnis obcaecati.</p>
          <%= link_to "Je veux une démo", "contact.html", class: "link-consultant" %>
        </div>
      </div>
      <div class="row rowicone padded-top">
        <div class="col-xs-12 col-md-6">
          <h3>Développez votre business</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur natus quam fuga delectus error, suscipit fugiat commodi recusandae, tempora voluptatibus illum ad molestiae reiciendis doloribus laborum. Enim, saepe odit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque consequuntur explicabo dolores error inventore rem ad iusto veritatis nam laboriosam fuga dolorem soluta dicta quod optio, vero, quae omnis obcaecati.</p>
          <%= link_to "Je booste mon business", "contact.html", class: "link-consultant" %>
        </div>
        <div class="col-xs-12 col-md-6">
          <%= image_tag "business.png", id: "dream" %>
        </div>
      </div>
    </div>
  </div>
<div class="wrapper-grey">


</div>

</div>
